<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Registration</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">{{status}} {{message}}
                    <form [formGroup]="userForm" (ngSubmit)="userForm.valid && onSubmit()" novalidate>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input type="text" formControlName="username" class="form-control" >
                                    <div class="text text-danger has-error" *ngIf="userForm.controls.username.touched">
								          <div *ngIf="userForm.controls.username.hasError('required')">Please Enter your Name</div>
								          <div *ngIf="userForm.controls.username.hasError('minlength')">Please Enter atleast 4 characters</div>
							        </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email address</label>
                                    <input type="email" formControlName="email" class="form-control" >

                                    <div class="text text-danger has-error" *ngIf="userForm.controls.email.touched">
							          <div *ngIf="userForm.controls.email.hasError('required')">Please Enter your Email</div>
							          <div *ngIf="!userForm.controls.email.hasError('required') && userForm.controls.email.hasError('invalidEmailAddress')">Please Enter Valid Email</div>
							        </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Fist Name</label>
                                    <input type="text" class="form-control" formControlName="firstname">
                                    <div class="text text-danger" *ngIf="userForm.controls.firstname.touched"> 
                                        <p *ngIf="userForm.controls.firstname.hasError('required')">This field is required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control" formControlName="lastname">
                                    <div class="text text-danger" *ngIf="userForm.controls.lastname.touched"> 
                                        <p *ngIf="userForm.controls.lastname.hasError('required')">This field is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="address">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
	                                    <label class="control-label">Address</label>
	                                    <input type="text" class="form-control" formControlName="addressline">
                                       	<div class="text text-danger" *ngIf="userForm.controls['address'].controls['addressline'].touched"> 
                                        	<p *ngIf="userForm.controls['address'].controls['addressline'].hasError('required')">This field is required</p>
                                    	</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control" formControlName="city" >
                                        <div class="text text-danger" *ngIf="userForm.controls['address'].controls['city'].touched"> 
                                            <p *ngIf="userForm.controls['address'].controls['city'].hasError('required')">This field is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Country</label>
                                        <input type="text" class="form-control" formControlName="country" >
                                        <div class="text text-danger" *ngIf="userForm.controls['address'].controls['country'].touched"> 
                                            <p *ngIf="userForm.controls['address'].controls['country'].hasError('required')">This field is required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Postal Code</label>
                                        <input type="text" class="form-control" formControlName="postalCode" >
                                       	<div class="text text-danger" *ngIf="userForm.controls['address'].controls['postalCode'].touched"> 
                                        	<p *ngIf="userForm.controls['address'].controls['postalCode'].hasError('required')">This field is required</p>
                                        	<p *ngIf="userForm.controls['address'].controls['postalCode'].hasError('pattern')">Please Enter Valid Postal Code</p>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                        <textarea class="form-control" rows="5"  formControlName="aboutYou"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                        <p>Form value: <b> {{ userForm.value | json }} </b></p>
                    </form>
                </div>
            </div>
        </div>       
    </div>
</div>
</div>

